@font-face {
    font-family: "Manilla Cellos";
    src: url("../assets/fonts/Manilla Cellos.otf") format("truetype");
}

@font-face {
    font-family: "nasalization";
    src: url("../assets/fonts/nasalization.otf") format("truetype");
}

@font-face {
    font-family: "Neozoic";
    src: url("../assets/fonts/Neozoic.ttf") format("truetype");
}

:root {
    --spaceSmall: 3vw;
    --spaceMedium: 6vw;
    --spaceLarge: 10vw;
    --orange: #ef5a32;
    --dark: #1f1f1f;
    --darker: #1a1a1a;
    --darker2: #101010;
    --fontLarge: 10vw;
    --fontMedium: 7vw;
    --fontSmall: 5vw;
    --font1: "Neozoic", "nasalization";
    --font2: "nasalization";
    --card-width: 90vw;
    --card-height: 64vw;
}

div {
    font-family: var(--font1);
    font-size: var(--fontSmall);
}

h1,
h2,
h3 {
    font-family: var(--font2);
    text-align: center;
    font-size: var(--fontLarge);
}

h2 {
    font-size: var(--fontMedium);
}

h3 {
    font-size: var(--fontSmall);
}

.subtitle {
    transform: translateY(-4vw);
}

html,
body {
    height: 100%;
    background-color: var(--dark);
    color: rgb(217, 221, 224);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    background-image: url(../assets/pngs/aliens2.png);
    background-size: 150vh;
    background-position-y: 20vh;
    background-position-x: 8%;
    background-repeat: no-repeat;
}

body:has(#menu[style*="display: none"]) {
    background-image: none;
}

#title,
#menu,
#settings,
#content,
#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--spaceSmall);
    width: 100%;
}

#content {
    height: 100vh;
    overflow-y: hidden;
    /* background-color: rgba(0, 0, 0, 0.836); */
}

#stats {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2vw;
    background-color: var(--darker);
    height: 2vh;
}

.phase {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
    min-height: 75vh;
    text-align: center;
}

.phase :last-child {
    margin-top: auto;
    bottom: 0;
}

#title svg {
    width: 87%;
    margin-top: var(--spaceMedium);
}

#phases {
    /* margin-top: var(--spaceSmall); */
    display: flex;
    flex-direction: row;
    background-color: var(--darker);
    justify-content: space-around;

    width: 100vw;
    height: 8vh;
    align-items: center;
}

.phaseIcon {
    padding: 1vw;
}

img.phaseIcon {
    height: 11vw;
    /* width: auto; */
    /* margin: 1vh; */
}

.phaseIcon:has(~ .selected) {
    /* opacity: 50%; */
    filter: saturate(10%);
}

.selected {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(85deg) brightness(100%);
}

button {
    font-size: var(--fontSmall);
    font-family: var(--font1);
    background-color: var(--orange);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    padding: 5px 15px 5px 15px;

    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: black;
    font-weight: bold;
}

button.big {
    font-family: var(--font2);
    font-size: var(--fontLarge);
}

button.disabled {
    opacity: 20%;
}

select {
    font-size: var(--fontSmall);
    font-family: var(--font1);
    background-color: var(--orange);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    padding: 5px 15px 5px 15px;

    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: black;
    font-weight: bold;
}

.spacer-large {
    height: var(--spaceLarge)
}

.spacer-medium {
    height: var(--spaceMedium)
}

.spacer-small {
    height: var(--spaceSmall)
}

.settings-row {
    margin-bottom: var(--spaceSmall);
}

.settings-row :first-child {
    width: 45vw;
    display: inline-block;
}

.settings-row :nth-child(2) {
    width: 35vw;
    display: inline-block;
}

img.inText {
    height: var(--fontSmall);
}

.flipcard {
    background-color: transparent;
    width: var(--card-width);
    height: var(--card-height);
}

.flipcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipped .flipcard-inner {
    transform: rotateY(180deg);
}

.flipcard-front,
.flipcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipcard-front {}

.flipcard-back {
    transform: rotateY(180deg);
}

#new-event-card-face {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#new-event-card-face,
#new-event-card-back {
    width: var(--card-width);
}

#new-event-card-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#new-event-card-rules {
    padding: 6%;
}

.card-icon {
    width: 14.5%;
}

.current-events-icon {
    width: 10vw;
}

.white {
    filter: brightness(10000%);
}

#events {
    width: 100vw;
}

.current-event {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    padding: 2vw 2vw;
    background-color: var(--darker2);
    border-radius: 2vw;
}

.current-event.highlighted {
    background-color: var(--orange);
}

.current-event .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-events-icon {
    padding: 2vw;
}

.current-event .rules {
    display: none;
    text-align: center;
}

.current-event.highlighted .rules {
    display: block;
}